.header {
    display: flex;
    align-items: center;
}
.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 3rem;
}

.material-icons {
    padding-left: 1rem;
    padding-right: 0.6rem;
}